* {
  box-sizing: border-box;
  outline: 1px solid red;
}
.app {
  display; flex;
}

h1 {
  background-color: #33bebe;
}

.screenshot {
  max-width: 460px;
  margin-right: 20px;
}

.description {
  max-width: 705px;
}
