body {
  text-align: center;
}

header {
  font: bold 24px "Open Sans", sans-serif;
}

.instructions {
  font-style: italic;
  font-size: 16px;
}

li {
  padding: 0 50px;
  display: inline-flex;
  list-style-type: none;
}

img {
  height: 40px;
  width: 20px;
  padding: 0 5px;
}
