/* add your CSS here */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Tahoma, Geneva, sans-serif;
}
div {
  border: 1px solid #d3d3d3;
}
#card {
  box-shadow: 5px 5px 5px 0px rgba(211,211,211,1);
  margin: 20px;
  padding: 10px;
  width: 400px;
}
h3#cardTitle {
  font-size: 30px;
  margin: 15px 0 15px;
}
/* IMPORTANT: Spec called for width of 300px on the image. This width is too
narrow tomatch the mockup provided. Measuring tools show the card width to be
400px. Image width has been adjusted accordingly. */
#image {
  width: 377px;
}
#animalInfo {
  margin-top: 10px;
  padding: 10px;
}
.animalFact {
  font-style: italic;
}
ul.list {
  padding: 15px 0px;
}
li {
  list-style-type: none;
  font-style: italic;
}
span.listLabel {
  font-weight: bold;
  font-style: normal;
}
.animalInfo {
  padding-bottom: 15px;
}
