html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex-basis: 100%;
  border: 1px solid red;
}

#locations {
    background-color: blue;
}

#map-container {
    height: 800px;
}
#map {
    height: 100%;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }
  #locations {
      flex: 3.0;
  }
  #map-container {
      flex: 7.0;
  }
}
