html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}

h1 {
    padding-left: 12px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #d9d9d9
}

.column {
  flex-basis: 100%;
}

#locations {
    padding: 15px;
}

#map-container {
    height: 800px;
}

#map {
    height: 100%;
    width: 100%;
}

#attribution {
    font-size: 8px;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }
  #locations {
      flex: 3.0;
  }
  #map-container {
      flex: 7.0;
  }
}

@media screen and (max-width: 768px) {
    #map {
        height: 60vh;
        background: #d9d9d9;
    }

}
